<div class="animated fadeIn">

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          فرش های منتخب فرش بوم
        </div>
        <div class="card-body">
          <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
            <slide *ngFor="let slide of dbslides; let index=index">
              <img [src]="slide.imageUrl" alt="image slide" style="display: block; width: 100%;">
              <div class="carousel-caption">
                <h4>{{ slide.title }}</h4>
                <p>{{slide.passage}}</p>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="assets/images/users/product.jpg" alt="image slide" style="display: block; width: 100%;">
        </div>
        <div class="card-footer">
          تعداد فالورهای فرش بوم
          {{keyvalues[0].title}}
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img src="assets/images/users/team.jpg" alt="image slide" style="display: block; width: 100%;">
          </div>
          <div class="card-footer">
            تعداد تولید کنندگان
            {{keyvalues[1].title}}
          </div>
        </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="assets/images/users/providers.jpg" alt="image slide" style="display: block; width: 100%;">
        </div>
        <div class="card-footer">
          تعداد نمایشگاه های فرش بوم
          {{stringModel[1].id}}
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img src="assets/images/users/exhibition.jpg" alt="image slide" style="display: block; width: 100%;">
          </div>
          <div class="card-footer">
            تعداد بازدیدکنندگان نمایشگاه
            {{keyvalues[1].title}}
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          نمایشگاه های اخیر ما
       </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
            [datasets]="lineChartData2"
            [labels]="lineChartLabels2"
            [options]="lineChartOptions"
            [colors]="lineChartColours2"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          انواع گونه ها در نمایشگاه های اخیر
       </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColours"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          گونه های پربازدید فرش بوم
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <a href="https://www.instagram.com/farshboom/" target="_blank"><i class="fa fa-instagram fa-3x"></i>-www.instagram.com/farshboom</a>

    </div>
    <div class="col-sm-3">
      <a href="https://t.me/farshboomchanel" target="_blank"><i class="fa fa-telegram fa-3x"></i>-t.me/farshboomchanel</a>
    </div>
    <div class="col-sm-3">
      <i class="fa fa-whatsapp fa-3x"></i>
      09123034979
    </div>
    <div class="col-sm-3">
      <i class="fa fa-phone fa-3x"></i>
      021-86083101
    </div>
  </div>
</div>
