<main class="main d-flex align-items-center">

</main>
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <form  #loginForm="ngForm" (ngSubmit)="login()">
              <h1>صفحه ورود</h1>
              <p class="text-muted"></p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" class="form-control" type="text" name="username" required placeholder="نام کاربری" required [(ngModel)]="model.username">
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" type="password" required name="password" placeholder="کلمه عبور" required [(ngModel)]="model.password">
              </div>
              <div class="row">
                <button type="submit" class="btn btn-primary">ورود به سایت</button>
              </div>
            </form>
          </div>
        </div>
        <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
          <div class="card-body text-center">
            <div>
              <h2>ثبت نام</h2>
              <p>برای با خبر شدن از تخفیف ها و زمان برگذاری نمایشگاه ها وارد سیستم شوید</p>
              <a class="btn btn-success" [routerLink]="['/dashboard/register']"> &nbsp;ثبت نام</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


